.container-banner{
    width: 100%;
    height: 180px;
    background-image: url('https://http2.mlstatic.com/storage/official-stores-images/hptiendaoficial/background20211708130647.jpg');
    background-color: white;
    background-repeat: no-repeat;
    background-size: cover;
}