.container-caveat{
    background-color: white;
    margin: 0 8px 0 8px;
    border-radius: 5px;
    padding: 11px 15px 7px;
    font-size: 12px;
    display: flex;
    align-items: center;
    border: 1px solid #ddd;
    color: rgba(0,0,0,.55);
}

.icono-caveat{
margin-right: 5px;
}

