.container-filterCard{
    width: 242px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    border: 1px solid #ddd;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    font-size: 14px;
    margin-top: 10px;
    cursor: pointer;
}

.container-filtercard-two{
    display: flex;
    flex-direction: column;
}

.t1{
    display: flex;
    
}

.container-filterCard p:last-child{
    font-size: 12px;
}