.container-PagesProducts{
    display: flex;
    justify-content: center;
    margin: 40px 8px 40px 8px;
    align-items: center;
}

.one{
    background-color: rgba(0,0,0,.04);
    color: rgba(0,0,0,.45);
    font-weight: 600;
    padding: 5px 15px;
    margin-right: 10px;
    cursor: pointer;
}


.siguiente{
    display: flex;
    align-items: center;
    color: #3483fa;
    margin-left: 5px;
    padding: 5px 15px;
}

.siguiente p{
    color: #3483fa;
    cursor: pointer;
}

.siguiente:hover{
    background-color: #d6d6d6;
    padding: 5px 15px;
    
}