.containerproduct{
    width: 288px;
    height: 444px;
    background-color: white;
    display: flex;
    flex-direction: column;
    font-size: 14px;
    margin-bottom: 19px;
    cursor: pointer;
    border-radius: 6px;
    -webkit-box-shadow: 0 1px 1px 0 rgb(0 0 0 / 10%), 0 -1px 2px 0 rgb(0 0 0 / 10%);
    box-shadow: 0 1px 1px 0 rgb(0 0 0 / 10%), 0 -1px 2px 0 rgb(0 0 0 / 10%);
}

.imgProduct{
    border-bottom: 0.5px solid #ededed;
    height: 100%;
    max-height: 284px;
    min-height: 284px;
}

.product-img{
    height: 100%;
    -o-object-fit: contain;
    object-fit: contain;
    width: 100%;
    
}

.descripcion-product{
    padding: 20px;
   
}

.descripcion-product p:first-child{
    
    font-size: 24px;
    margin: -7px 0 3px 0;
    color: #333333;
}

.llamadaAccion{
    display:table;
    padding: 2px;
    color: #00a650;
    background-color: #e6f7ee;
    border-radius: 5px;
}