.container-ubicacion {
  display: flex; 
  cursor: pointer;
  padding: 5px 2px 5px 2px;
}

.text-ubicacion {
  margin-top: -3px;
  margin-left: 3px;
}

.container-ubicacion p:first-child{
  color: rgba(0,0,0,0.5);
  margin-bottom: -5px;
  font-size: 12px;
}

.container-ubicacion p:last-child{
  color: #333;
  font-size: 14px;
}

.container-ubicacion:hover{
  border: 1px solid rgb(220, 219, 219);
  border-radius: 5px;
  position: absolute;
}

