.container-usuario{
    width: 340px;
    display: flex;
    justify-content: end;
    font-size: 14px;
}

.container-usuario a{
    display: flex;
    align-items: center;
}

.aNav nav{
    margin-left: 8px;
    color:rgb(64, 63, 63);
}

.aNav nav:hover{
    color: rgb(17, 17, 17);
}